/* CSS Base File 

support html5 tag
*/
/* <details> and <summary> are block level elements */
details, summary { display: block; }

/* The following styles will only get applied if JavaScript is enabled and <details> is not natively supported */

/* Add focus styles (for keyboard accessibility) */
.no-details summary:hover, .no-details summary:focus { background: #ddd; }

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */

/* Hide all direct descendants of every <details> element */
/* Note that IE6 doesn’t support the child selector; we’ll work around that using jQuery later */
.no-details details > * { display: none; }

/* Make sure summary remains visible */
.no-details details summary { display: block; }

/* Apply a pointer cursor upon hover to indicate it’s a clickable element. These styles can be applied regardless of whether the fallback is needed */
summary { cursor: pointer; }


/*layout*/
#header {
	background: url('../img/titolo.png') no-repeat center BACKGROUND2;
	width:600px;
	height:250px;
	margin: 0 auto;
	text-align: center;
}
#header h1 {
	color :black;
	font-size:50px;
	margin:0;
}
#container {
	margin-bottom: 100px;
}
#footer {
	bottom:0px;
	position:fixed;
	text-align:center;
	background: BACKGROUND;
	width: 100%;
}
#locale {
	top:0px;
	right:0px;
	position:absolute;
}
.navigation li {
	background:BACKGROUND2;
	display:inline;
	padding: 3px;
}
.navigation li:hover{
	border: solid 1px HOVER;
	padding:2px;
}
.navigation {
	text-align:center;
}
.navigation a{
	text-decoration:none;
	font-weight: bold;
}

#loader{
	background:url('../img/loading.gif') center no-repeat fixed;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#loader DIV{
	width: 100%;
	height: 100%;
	filter:alpha(opacity=70);
	opacity:.70;
 	-moz-opacity:.70;
	background: black center no-repeat fixed;
}

/*tag*/
body {
	background:BACKGROUND;
	color: COLOR;
}

/*link decoration */
A:link 	{text-decoration: underline; color: NORMAL} 
A:visited {text-decoration: underline; color: NORMAL} 
A:hover { text-decoration: none; color:  HOVER}

/*tolgo il bordo dalle immagini*/
img
	{
	border: 0px;
	}
/*allineo il testo nelle tabelle*/
td {
    text-align: center;
}

abbr {
	cursor: help;
	border-bottom: 1px dashed #999;
}

input {
	color: INPUT_TEXT;
	background:INPUT_BG;
	border: NORMAL solid 1px;
	padding: 2px;
}
input:hover,textarea:hover{
	border: HOVER solid 2px;
	padding: 1px;
}
input:focus,textarea:focus{
	border: HOVER solid 2px;
	padding: 1px;
}
select {color: INPUT_TEXT;}
optgroup {color: INPUT_TEXT;}
textarea {
	color: INPUT_TEXT;
	background:INPUT_BG;
	border: #3eaeee solid 1px;
	padding: 2px;
}
option {color:INPUT_TEXT;}
button {font-size: 12px !important;}
/*profile*/

.profile {
	margin:0 auto;
	width:300px;
	border: 1px solid BORDER;
	border-radius:10px;
}
.profile td:nth-child(2n) {
	text-align:right;
}
.profile td:nth-child(1):not(.button) {
	text-align:left;
	padding-left: 10px;
}
.profile input{
	width:140px;
}

/*reg form*/

#registration_form {
	width:350px;
	margin: 0 auto;
	border: 1px solid BORDER;
	border-radius: 5px;
	background:BACKGROUND;
	padding-left: 40px;
}
#registration_form dt {
	float:left;
	width: 150px;
	padding: 4px;
	
}
#registration_form dd {
	text-align: right;
	margin: 4px 0;
	width: 300px;
	border: 1px solid;
	padding: 3px;
	border-radius: 5px;
}
#submit-element {
	border:0 !important;
}
.error {
	color:red;
}
input.error {
	border:2px solid red;
}

#loginForm {
	width:250px;
	margin: 0 auto;
	border: 1px solid BORDER;
	border-radius: 5px;
	background:BACKGROUND;
	padding-left: 40px;
}
#loginForm dt {
	float:left;
	width: 90px;
	padding: 4px;
	
}
#loginForm dd {
	text-align: right;
	margin: 4px 0;
	width: 200px;
	border: 1px solid;
	padding: 3px;
	border-radius: 5px;
}
tr.password{
	display:none;
}

/*log*/

#log ol{
	background-color: gray;
}

#log li {
	border: 1px solid white;
	color:black;
}
/*emerg*/
#log li.priority1 {
	background-color:red;
}
/*crit*/
#log li.priority2 {
	background-color:red;
}
/*err*/
#log li.priority3 {
	background-color:red;
}
/*warn*/
#log li.priority4 {
	background-color:orange;
}
/*notice*/
#log li.priority5 {
	background-color:yellow;
}
/*info*/
#log li.priority6 {
	background-color:blue;
}
/*debug*/
#log li.priority7 {
	background-color:white;
}


